<script type="text/x-handlebars" id="components/visit-item">
	{{#drop-element dropAction='drop_procedure_into_visit' elementName='visit'}}
        <div class="col-sm-3" id="col1">
            <div id="visit1" class="visit row margin-row">
                <div class="visit_N">
                    {{#if visit.isEditingLabel}}
                        {{input value=visit.label placeholder="AddVisit" class="visit-title h4 col-sm-10" focus-out="updateLabel" insert-newline="updateLabel" }}
                    {{else}}
                        <span class="visit-title h4 col-sm-10" {{action "editLabel"}}>
                        	{{visit.label}}
                        </span>
                    {{/if}}
                    <i class="col-sm-2 clickable glyphicon glyphicon-chevron-up collapse pull-right"></i>
                </div>
                <div class="visit-body">
                    {{#if visit.haveProcedures}}
                        <ul class="connectedSortable sortable col-sm-12 ui-droppable ui-sortable">
                        	{{#each visitProc in visit.procedures itemController="procedure"}}
                            	<li class="ui-state-default">
                            		{{#unless visitProc.isEditingName}}
                              			<span class="procedure" {{action "editName"}}>{{visitProc.name}}</span>
                            		{{else}}
                              			{{input value=visitProc.name placeholder="Add Procedure" class="procedure" focus-out="updateName" insert-newline="updateName"}}
                            		{{/unless}}
                          		</li>
                        	{{/each}}
                        	<p class="count_proc pull-right"> {{visit.proceduresCount}} procedures</p>
                      	</ul>
                    {{/if}}
                    <button class="btn bg-gray addProc" {{action "insertNewProcedure" this}}>
                      	<i class="glyphicon-plus glyphicon"></i>
                    </button>
                </div>
            </div>
        </div>
    {{/drop-element}}
</script>
